body {
    padding: 16px;
    margin: 0;
    font-size: 16px;
}

h1,h2,h3, p {
    margin: 0;
}

.main {
    min-width: 400px;
}

.title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 16px;
}

.description {
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    font-size: 16px;
    color: #ffffff;
    background: #2196F3;
    border-radius: 8px;
    border: 2px solid #1d7bc8;
    padding: 8px;
}

button:hover {
    background: #1d7bc8;
    cursor: pointer;
}

button:disabled {
    background: #5089b7;
    cursor: wait;
}

.author {
    font-size: 12px;
}
